@import "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,400&display=swap";

*{
    padding: 0;
    margin: 0;
}
.wrapper{
    background: url("Images/gallery-img-01.jpg") no-repeat;
    background-size: cover;
    height: 100vh;
}
.nav{
    height: 80px;
    width: 100%;
    background: rgba(0,0,0,0.4);
}
.logo{
    width: 140px;
    height: 65px;
    padding: 10px 100px;
}


.wrapper .center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    user-select: none;

}
.center h3{
    color: white;
    font-size: 60px;
    font-width: bold;
    width: 900px;
    text-align: center;
}
.center h4{
    color: white;
    font-size: 70px;
    font-width: bold;
    width: 885px;
    margin-top: 10px;
    text-align: center;
}
.center .links{
    margin: 35px 280px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;

}
